#cover{
    height: 100%;
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
}

.mh-10{
    margin: 0px 10px;
}

html, body {
    overflow-x: hidden;
}
 
.neonText {
    color: #fff;
    text-shadow:
      /* White glow */
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
}

body{
    background: #343A40;
    position: relative
}

.row{
    justify-content: center;
}

.col-xs-12{
    margin-left: 5px;
    margin-right: 5px;
}

.hidden{
    display: none;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #1FFFFF;
    padding: 0px;
    
    .navbar-brand{
        padding: 0px;

        @media screen and (max-width: 400px){
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    #navbar-brand-image{
        height: 75px;
        width: auto;
    }

    a.nav-item{
        color: #fff;
        letter-spacing: 1.5px;
        font-size: small;
    }
    a:hover{
        cursor: pointer;
    }

    #navigation-bar-container{
        justify-content: flex-end;
    }

    .navigation-mobile-button{
        i {
            color: #1cb100;
        }
        margin-right: 15px;
        display: none;

        @media screen and (max-width: 400px){
            display: block;
        }
    }

    .navigation-mobile-button:hover{
        color: white;
        transition: 250ms;
    }
}

#mobile-navigation-menu{

    li{
        text-align: right;
        list-style-type: none;
        margin: 10px 0px;
        background-color: #343A40;
        color: white;
        font-size: 12px;
        padding: 10px;
        border-bottom: 1px solid white;
    }
}

#console-games-spacer{
    margin-bottom: 50px; 
}

div.content-containers{
    min-height: 100px;
    text-shadow:
    -2px 4px 4px #091243, 
    0 0 10px #00D0FF,
    inset 1px 1px 1px white;
    border: 2px solid #1FFFFF;
   
    h1, h2, h3, h4{
        color: #fff;
    }

    h1{
        font-size: 16px;
    }

    @media screen and (min-width: 400px) {
        h1{
            font-weight: 700;
            font-size: 64px;
            letter-spacing: 8px;
        }
    }

    #main-content-container{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/ella-don-0oqMvhc1ntw-unsplash.jpg');
        background-size: cover;
        min-height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 400px) {
            background-position-x: center;
        }

        .navigation-buttons-container{
            display: flex;
            justify-content: space-evenly;
            width: 25%;
            margin-left: 37.5%;

            .navigation-buttons{
                color: white;
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
                padding: 10px 25px;
                border: 1px solid white;
                border-radius: 5px;

                @media screen and (max-width: 400px){
                    margin: 0px 10px;
                }
            }

            .navigation-buttons:hover{
                cursor: pointer;
            }
        }
    }

    #about-content-container{
        background-color: black;
        margin: 0px 10px;
        padding: 40px 80px;
        
        h4{
            color: #a9a9a9;
            font-size: large;
        }
    }

    .games-content-container{
        background-size: cover;
        min-height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px;
        color: white;
        flex-direction: column;
            
        &#pc-games-content-container{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/mateo-vrbnjak-nCU4yq5xDEQ-unsplash.jpg');
        }

        &#console-games-content-container{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/games-2453777_1920.jpg');
            
            img{    
                max-height: 150px;
                max-width: 266px;
            }

            .console-content{
                padding: 0px 40px;

                ul{
                    list-style-type: none;
                    padding-left: 0px;
                }

                button{
                    margin-bottom: 20px;
                    padding: 5px 15px;
                    border-radius: 8px;
                    color: #1FFFFF;
                    background: #343A40;
                }
            }
        }
    }
}
