#cover {
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
}

.flex-vcenter {
  display: flex;
  align-items: center;
}

.mh-10 {
  margin: 0px 10px;
}

html, body {
  overflow-x: hidden;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

body {
  background: #343A40;
  position: relative;
}

.row {
  justify-content: center;
}

.col-xs-12 {
  margin-left: 5px;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.navbar {
  width: 100%;
  top: 0;
  border-bottom: 1px solid #1FFFFF;
  padding: 0px;
}
.navbar .navbar-brand {
  padding: 0px;
}
@media screen and (max-width: 400px) {
  .navbar .navbar-brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.navbar #navbar-brand-image {
  height: 75px;
  width: auto;
}
.navbar a.nav-item {
  color: #fff;
  letter-spacing: 1.5px;
  font-size: small;
}
.navbar a:hover {
  cursor: pointer;
}
.navbar #navigation-bar-container {
  justify-content: flex-end;
}
.navbar .navigation-mobile-button {
  margin-right: 15px;
  display: none;
}
.navbar .navigation-mobile-button i {
  color: #1cb100;
}
@media screen and (max-width: 400px) {
  .navbar .navigation-mobile-button {
    display: block;
  }
}
.navbar .navigation-mobile-button:hover {
  color: white;
  transition: 250ms;
}

#mobile-navigation-menu li {
  text-align: right;
  list-style-type: none;
  margin: 10px 0px;
  background-color: #343A40;
  color: white;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid white;
}

#console-games-spacer {
  margin-bottom: 50px;
}

div.content-containers {
  min-height: 100px;
  text-shadow: -2px 4px 4px #091243, 0 0 10px #00D0FF, inset 1px 1px 1px white;
  border-top: 2px solid #1FFFFF;
  border-bottom: 2px solid #1FFFFF;
}
div.content-containers h1, div.content-containers h2, div.content-containers h3, div.content-containers h4, div.content-containers h6 {
  color: #fff;
}
div.content-containers h1 {
  font-size: 16px;
}
@media screen and (min-width: 400px) {
  div.content-containers h1 {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 8px;
  }
}
div.content-containers #main-content-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/ella-don-0oqMvhc1ntw-unsplash.jpg");
  background-size: cover;
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 400px) {
  div.content-containers #main-content-container {
    background-position-x: center;
  }
}
div.content-containers #main-content-container .navigation-buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  margin-left: 37.5%;
}
div.content-containers #main-content-container .navigation-buttons-container .navigation-buttons {
  color: white;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
}
@media screen and (max-width: 400px) {
  div.content-containers #main-content-container .navigation-buttons-container .navigation-buttons {
    margin: 0px 10px;
  }
}
div.content-containers #main-content-container .navigation-buttons-container .navigation-buttons:hover {
  cursor: pointer;
}
div.content-containers #about-content-container {
  background-color: black;
  margin: 0px 10px;
  padding: 40px 80px;
}
div.content-containers #about-content-container h4 {
  color: #a9a9a9;
  font-size: large;
}
div.content-containers .games-content-container {
  background-size: cover;
  min-height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 10px;
  color: white;
}
@media screen and (max-width: 400px) {
  div.content-containers .games-content-container {
    flex-direction: column;
    justify-content: center;
  }
}
div.content-containers .games-content-container#pc-games-content-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/mateo-vrbnjak-nCU4yq5xDEQ-unsplash.jpg");
}
div.content-containers .games-content-container#pc-games-content-container .pc-entity {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px 20px;
}
div.content-containers .games-content-container#pc-games-content-container .pc-entity img {
  max-height: 150px;
  width: auto;
}
div.content-containers .games-content-container#console-games-content-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/games-2453777_1920.jpg");
}
div.content-containers .games-content-container#console-games-content-container img {
  min-height: 150px;
  max-width: 266px;
}
div.content-containers .games-content-container#console-games-content-container .console-content {
  padding: 0px 40px;
}
div.content-containers .games-content-container#console-games-content-container .console-content ul {
  list-style-type: none;
  padding-left: 0px;
}
div.content-containers .games-content-container#console-games-content-container .console-content button {
  margin-bottom: 20px;
  padding: 5px 15px;
  border-radius: 8px;
  color: #1FFFFF;
  background: #343A40;
}

/*# sourceMappingURL=style.css.map */
